<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>SupervisorSystem</display-name>	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/applicationContext.xml classpath*:/dao.xml classpath*:/service.xml</param-value>
	</context-param>    

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>	
    <filter>
        <filter-name>struts</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
        <init-param>
        	<param-name>actionPackages</param-name>
        	<param-value>cn.iaicc.smgk.web.action</param-value>
        </init-param>
    </filter>
	<servlet>
		<servlet-name>dwr</servlet-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>	
	<servlet>
		<servlet-name>Connector</servlet-name>
		<servlet-class>net.fckeditor.connector.ConnectorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>XmlServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.XmlServlet</servlet-class>
	</servlet>	


  <!-- ClusterCheck Definition-->
  <filter>
    <filter-name>ClusterCheck</filter-name>
    <filter-class>com.tacitknowledge.filters.clustercheck.ClusterCheckFilter</filter-class>
  </filter>
  
  <!-- GZIPFilter Definition -->
  <filter>
    <filter-name>GZIPFilter</filter-name>
    <filter-class>com.tacitknowledge.filters.gzipfilter.GZIPFilter</filter-class>
  </filter>

  <!-- CacheFilter Definition -->
  <filter>
    <filter-name>CacheFilter</filter-name>
    <filter-class>com.tacitknowledge.filters.cache.CacheHeaderFilter</filter-class>
  </filter>

	<filter>
		<filter-name>openSession</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>struts-cleanup</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
	</filter>
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>


	<servlet-mapping>
		<servlet-name>XmlServlet</servlet-name>
		<url-pattern>/servlets/xml</url-pattern>
	</servlet-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>openSession</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet-mapping>
		<servlet-name>dwr</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Connector</servlet-name>
		<url-pattern>/fckeditor/editor/filemanager/connectors/*</url-pattern>
	</servlet-mapping>
	<filter-mapping>
		<filter-name>struts-cleanup</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
  </filter-mapping>
	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	


	  <!-- ClusterCheck Mappings - Alter to fit your circumstances -->
	  <filter-mapping>
	    <filter-name>ClusterCheck</filter-name>
	    <url-pattern>*.jsp</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>ClusterCheck</filter-name>
	    <url-pattern>*.do</url-pattern>
	  </filter-mapping>
	
	  <!-- GZIPFilter Mappings  - Alter to fit your circumstances -->  
	  <filter-mapping>
	    <filter-name>GZIPFilter</filter-name>
	    <url-pattern>*.jsp</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>GZIPFilter</filter-name>
	    <url-pattern>*.do</url-pattern>
	  </filter-mapping>
	
	  <!-- CacheFilter Mappings  - Alter to fit your circumstances -->
	  <filter-mapping>
	    <filter-name>CacheFilter</filter-name>
	    <url-pattern>*.gif</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>CacheFilter</filter-name>
	    <url-pattern>*.jpg</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>CacheFilter</filter-name>
	    <url-pattern>*.png</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>CacheFilter</filter-name>
	    <url-pattern>*.js</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>CacheFilter</filter-name>
	    <url-pattern>*.css</url-pattern>
	  </filter-mapping>
	  <session-config>     
    	<session-timeout>180</session-timeout>       
	  </session-config> 
	  
	  <taglib>
		<taglib-uri>/s</taglib-uri> 
		<taglib-location>/WEB-INF/struts-tags.tld</taglib-location> 
  	  </taglib>  	  
	  <taglib> 
		<taglib-uri>/decorator</taglib-uri> 
		<taglib-location>/WEB-INF/sitemesh-decorator.tld</taglib-location> 
  	  </taglib> 
	  <taglib> 
		<taglib-uri>/page</taglib-uri> 
		<taglib-location>/WEB-INF/sitemesh-page.tld</taglib-location> 
  	  </taglib> 	  

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
